In [2]:
import pandas as pd
import json

In [3]:
# Reading countries json data
with open('../data/world-topo.json', 'r') as f:
    countries_json = json.load(f)
countries_geometries = countries_json['objects']['countries']['geometries']

In [4]:
# Create countries wourld_list form world-topo.json
world_list = []
for feature in countries_geometries:
    world_list.append(feature['properties'])
len(world_list)
print('List of names of 183 world countries:\n', [row['admin'] for row in world_list])

List of names of 183 world countries:
 ['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates', 'Argentina', 'Armenia', 'Antarctica', 'French Southern and Antarctic Lands', 'Australia', 'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso', 'Bangladesh', 'Bulgaria', 'The Bahamas', 'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bolivia', 'Brazil', 'Brunei', 'Bhutan', 'Botswana', 'Central African Republic', 'Canada', 'Switzerland', 'Chile', 'China', 'Ivory Coast', 'Cameroon', 'Democratic Republic of the Congo', 'Republic of Congo', 'Colombia', 'Cape Verde', 'Costa Rica', 'Cuba', 'Northern Cyprus', 'Cyprus', 'Czech Republic', 'Germany', 'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji', 'Falkland Islands', 'France', 'Gabon', 'United Kingdom', 'Georgia', 'Ghana', 'Guinea', 'Gambia', 'Guinea Bissau', 'Equatorial Guinea', 'Greece', 'Greenland', 'Guatemala', 'Guyana', 'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq', 'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan', 'Siachen Glacier', 'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'South Korea', 'Kosovo', 'Kuwait', 'Laos', 'Lebanon', 'Liberia', 'Libya', 'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia', 'Morocco', 'Moldova', 'Madagascar', 'Mexico', 'Macedonia', 'Mali', 'Myanmar', 'Montenegro', 'Mongolia', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi', 'Malaysia', 'Namibia', 'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands', 'Norway', 'Nepal', 'New Zealand', 'Oman', 'Pakistan', 'Panama', 'Peru', 'Philippines', 'Papua New Guinea', 'Poland', 'Puerto Rico', 'North Korea', 'Portugal', 'Paraguay', 'Palestine', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Western Sahara', 'Saudi Arabia', 'Sudan', 'South Sudan', 'Senegal', 'South Georgia and South Sandwich Islands', 'Solomon Islands', 'Sierra Leone', 'El Salvador', 'Somaliland', 'Somalia', 'Republic of Serbia', 'Suriname', 'Slovakia', 'Slovenia', 'Sweden', 'Swaziland', 'Syria', 'Chad', 'Togo', 'Thailand', 'Tajikistan', 'Turkmenistan', 'East Timor', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Taiwan', 'United Republic of Tanzania', 'Uganda', 'Ukraine', 'Uruguay', 'United States of America', 'Uzbekistan', 'Venezuela', 'Vietnam', 'Vanuatu', 'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe']

In [34]:
#Create data
years_list=[ '1990','1991','1992','1993','1994','1995','1996','1997','1998','1999',
             '2000', '2001', '2002','2003','2004','2005','2006','2007','2008','2009', '2010',
             '2011','2012','2013','2014','2015','2016','2017','2018','2019','2020']
live_dict = {'1990': 'Russia', '1991': 'Russia',  '1992': 'Russia', '1993': 'Russia', '1994': 'Russia', 
             '1995': 'Ukraine', '1996': 'Ukraine', '1997': 'Ukraine', '1998': 'Ukraine', '1999': 'Ukraine',
             '2000': 'Ukraine', '2001': 'Ukraine', '2002': 'Ukraine', '2003': 'Ukraine', '2004': 'Ukraine',
             '2005': 'Ukraine', '2006': 'Ukraine', '2007': 'Ukraine', '2008': 'Ukraine', '2009': 'Ukraine',
             '2010': 'Ukraine', '2011': 'Ukraine', '2012': 'Georgia', '2013': 'Georgia', '2014': 'Georgia', 
             '2015': 'Georgia', '2016': 'Georgia', '2017': 'Georgia', '2018': 'Georgia', '2019': 'Georgia',
             '2020': 'United States of America'}
study_dict = {'1990': ['Ukraine'], '1991': ['Ukraine'],  '1992': ['Ukraine'], '1993': ['Ukraine'], '1994': ['Ukraine'], 
             '1998': ['United States of America'], '1999': ['United States of America'],
             '2010': ['United States of America'], '2011': ['United States of America', 'United Kingdom', 'Poland', 'Singapour'],
             '2012': ['United States of America'], '2020': ['United States of America']}
business_dict = { 
             '2005': ['United States of America'], '2006': ['Switzerland'],
             '2007': ['France', 'Uzbekistan'], '2008': ['Germany', 'Russia','Brazil'],
             '2009': ['United States of America'], '2017': ['Switzerland'],
             '2018': ['Azerbaijan', 'Russia'], '2019': ['Kazakhstan', 'Russia']}
travel_dict = {
             '1995': ['Russia'], '1996': ['Russia'], '1997': ['Russia'], '1998': ['Russia'], '1999': ['Russia'],
             '2000': ['Russia'], '2001': ['Russia'], '2002': ['Russia'], '2003': ['Russia'], '2004': ['Russia'],
             '2005': ['Russia'], '2006': ['Russia'], '2007': ['Russia'], '2008': ['Russia'], '2009': ['Russia'],
             '2010': ['Russia'], '2011': ['Russia'], '2012': ['Armenia', 'Russia', 'Ukraine'], '2013': ['Russia', 'Ukraine', 'United States of America'],
             '2014': ['Russia', 'Ukraine', 'United States of America'], '2015': ['Peru', 'Russia', 'Ukraine', 'United States of America'], 
             '2016': ['India', 'Russia', 'Ukraine', 'United States of America'], 
             '2017': ['Russia', 'Ukraine', 'United States of America'], '2018': ['Canada', 'Russia', 'Ukraine', 'United States of America'], 
             '2019': ['Belarus', 'Russia', 'Ukraine', 'United States of America']}

In [39]:
countries_df = pd.DataFrame(world_list)
for row in countries_df.itertuples():
    for year in years_list:
        countries_df[year]=0
countries_df

,admin,id,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Angola,AGO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Albania,ALB,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,United Arab Emirates,ARE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Argentina,ARG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Samoa,WSM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,Yemen,YEM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,South Africa,ZAF,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,Zambia,ZMB,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Zimbabwe,ZWE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
for row in countries_df.itertuples():
    for year in years_list:
        if year in travel_dict:
            c_list = travel_dict[year]
            for c in c_list:
                if row.admin == c:
                    countries_df.loc[row.Index, year] = 2
        if year in business_dict:
            c_list = business_dict[year]
            for c in c_list:
                if row.admin == c:
                    countries_df.loc[row.Index, year] = 3
        if year in study_dict:
            c_list = study_dict[year]
            for c in c_list:
                if row.admin == c:
                    countries_df.loc[row.Index, year] = 4
        if row.admin == live_dict[year]:
            countries_df.loc[row.Index, year] = 5

In [41]:
countries_df = countries_df.rename(columns={'admin': 'country', 'id': 'country_code'})
countries_df

,country,country_code,1990,1991,1992,1993,1994,1995,1996,1997,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Afghanistan,AFG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Angola,AGO,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Albania,ALB,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,United Arab Emirates,ARE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Argentina,ARG,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,Samoa,WSM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
179,Yemen,YEM,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
180,South Africa,ZAF,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
181,Zambia,ZMB,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
182,Zimbabwe,ZWE,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
countries_df.to_csv('../data/countries.csv', encoding='utf-8')